/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: 0;
}

header {
    background: #333;
    padding: .5rem 2rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
    margin:0;
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;

}

footer {
    background: #333;
    padding: 1rem;
    margin: 0;
    text-align: center;
    font-size: .75rem;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
    margin: 0;
    padding: 0;
}

article {
    display: flex;
    justify-content: center;
    margin: 0rem;
    padding: 2rem;
}

#cougar {
    background: #FFBD82;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;

}

#lion {
    background: #FFD5AE;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

#tiger {
    background: #B26219;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

section {
    max-width: 500px;
    margin: 0;
    padding: 0;

}

.photo {
    color: #000;
    line-height: 1rem;
    font-size: .75rem;
}

.photo p {
    padding: .5rem 0;
}

.text {
    color: #000;
    padding-left: 2rem;
    line-height: 1.25rem;
    font-size: 1rem;
}

.text h2 {
    margin: 0;
    padding: 0;
}




/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}

#tiger a {
      color: #82E8FF;
}

#tiger a:hover {
      color: #ccc;
}
